/* ----------VARIABLES & SETUP---------- */

:root {
  /* ------COLORS------ */
  --primary-purple-50: hsl(260, 100%, 95%);
  --primary-purple-300: hsl(264, 82%, 80%);
  --primary-purple-500: hsl(263, 55%, 52%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);

  /* ------FLUID FONTS------ */
  --fluid-font--1: clamp(0.6771rem, 0.6513rem + 0.1098vw, 0.7502rem);
  --fluid-font-0: clamp(0.8125rem, 0.7465rem + 0.2817vw, 1rem);
  --fluid-font-1: clamp(0.9141rem, 0.8134rem + 0.4296vw, 1.2rem);
  --fluid-font-2: clamp(1.0283rem, 0.8834rem + 0.6185vw, 1.44rem);

}

/* ----------BASE & RESET---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-purple-50);
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100dvh;
  padding: 4rem 1rem;
}

/* ----------TYPOGRAPHY---------- */

.author-name {
  font-size: var(--fluid-font-1);
  font-weight: 500;
}

.author-status {
  font-size: var(--fluid-font--1);
  font-weight: 400;
}

.testimonial-caption {
  font-size: var(--fluid-font-2);
  font-weight: 600;
  line-height: 1.2;
}

.testimonial-quote {
  font-size: var(--fluid-font-0);
  font-weight: 400;
  line-height: 1.6;
}

/* ----------COMPONENTS---------- */

.cards {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  gap: 1.2rem;
}

.testimonial-card {
  grid-row: span 3;
  display: grid;
  grid-template-rows: subgrid;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 10px 10px 20px var(--grey-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author-img {
  width: 32px;
  border-radius: 50%;
}

.testimonial-card--primary {
  background-color: var(--primary-purple-500);
  color: var(--white);
  & .author-img {
    border: 2px solid var(--primary-purple-300);
  }
}

.testimonial-card--neutral {
  background-color: var(--grey-500);
  color: var(--grey-100);
}

.testimonial-card--dark {
  background-color: var(--dark-blue);
  color: var(--grey-200);

  & .author-img {
    border: 2px solid var(--primary-purple-500);
  }
}

.testimonial-card--light {
  background-color: var(--white);
  color: var(--grey-500);
}

/* ----------SMALL---------- */

@media (min-width: 550px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial-card:is(:nth-child(1), :nth-child(4), :nth-child(5)) {
    grid-column: span 2;
  }

}

/* ----------MEDIUM---------- */

@media (min-width: 765px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .testimonial-card:is(:nth-child(1), :nth-child(4)) {
    grid-column: span 2;
  }

  .testimonial-card:nth-child(5) {
    grid-column: span 3;
  }
}


/* ----------LARGE---------- */

@media (min-width: 1150px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .cards::before {
    content: '';

    width: 115px;
    height: 120px;
    justify-self: end;
    align-self: start;
    margin-right: 4rem;

    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 0;

  }

  .cards::before, .testimonial-card:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }

  .testimonial-card--primary > * {
    z-index: 1;
  }

  .testimonial-card:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
  }

  .testimonial-card:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 1 / 7;
  }

  .testimonial-card:nth-child(5) > :nth-child(3) {
    grid-row: span 4;
  }

}